<hr /> 
%p You can contribute to this project on <a href="https://github.com/johnmcdowall/Delimited-File-Formats">Github</a>. | <a href="http://www.mcdowall.info/john/blog">A MCDOWALL AMUSEMENT</a> | Copyright (c) John McDowall 2011