$show-grid: false;
$center: true;

@import "partials/reset";
@import "partials/fontstack";
@import "partials/grid";
@import "partials/typography";

body {
  background-color: #F5EEDB;
  font-family: 'BebasRegular';
}

header h1 { color: #333; text-align: right; font-size: 3.3em; padding-top: 2em; padding-right: 0.7em; text-shadow: 0 1px 0 white; }
#main p   { text-shadow: 0 1px 0 white; color: 666; }
#main i   { font-style: italic; }

ul.formats {

  width: 600px;
  margin: 0px auto;

  li{
    float: left;
    padding-left: 5em;
  }

}

ol { width: 100%; }

ol li {
  list-style-type:decimal;
  list-style-position: outside;
  font-size:60pt;
  position: relative;
  top: 10px;
  left: 65px;
  color:#444;

  p { display: inline-block; text-align: left; vertical-align: top; min-height: 100px }

}


footer {
  clear: both;
  padding-top: 2em;
  
  p { font-size: smaller; text-align: center; }
}